* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.align {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

.loginForm {
  display: block;
  position: relative;
}

.loginForm:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-color: #512da8;
}

.loginForm .form-inner {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
}

.loginForm .form-inner h2 {
  color: #4a5568;
  font-size: 28px;
  margin-bottom: 30px;
}

.loginForm .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #4a5568;
  font-size: 12;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #512da8;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #edf2f7;
  border-radius: 8px;
  transition: 0.4s;
}

.loginForm .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.2);
}

.loginForm .form-inner input [type="submit"],
.welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #2979ff 50%,
    #2979ff 50%,
    #512da8
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.welcome big-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #7d28c3;
  height: 190px;
  width: 220px;
  font-family: "Roboto";
  font-size: 12;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  background-image: black;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: rgba(28, 28, 28, 0.85);
  cursor: pointer;
  align-items: center;
}
form .form-inner input[type="submit"]:hover,
.welcome button:hover {
  background-position: 100% 0%;
}

.welcome {
  width: 100%;
  max-width: 480%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
}

.ourIcons {
  width: 80px;
  margin: 20px;
  margin-top: 10px;
}

.welcome h2 {
  color: #4a5568;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 500;
}
.welcome h2 span {
  color: #d822a1;
  font-weight: 650;
}

.thebutton {
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #2979ff 50%,
    #2979ff 50%,
    #512da8
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 600;
}

ul,
li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li.menu-item:not(:last-child) {
  margin-bottom: 3px;
}

.formpart {
  padding: 30px;
}

.uploadbutton {
  float: right;
}
